<div class="container">
    <div class="card">
        <div class="card" id="mid-car">
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>DEL</h2>
                        <p class="fcolor">18 : 20</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">02h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">20 : 35</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    05-12-20, Sat
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div id="mid-d">
                        <p>Layover in BOM, Mumbai for 13h 4om</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">10 : 15</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">03h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>MLE</h2>
                        <p class="fcolor">13 : 00</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    06-12-20, Sun
                </div>
            </div>
        </div>
        <div class="card" id="mid-car">
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>DEL</h2>
                        <p class="fcolor">18 : 20</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">02h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">20 : 35</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    05-12-20, Sat
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div id="mid-d">
                        <p>Layover in BOM, Mumbai for 13h 4om</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">10 : 15</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">03h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>MLE</h2>
                        <p class="fcolor">13 : 00</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    06-12-20, Sun
                </div>
            </div>
        </div>
        <div class="card" id="mid-car">
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>DEL </h2>
                        <p class="fcolor">18 : 20</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">02h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">20 : 35</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    05-12-20, Sat
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <div id="mid-d">
                        <p>Layover in BOM, Mumbai for 13h 4om</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div>
                        <img src="assets/img/flights.png">
                    </div>
                    <div class="hp">
                        <h3>IndiGo</h3>
                        <p class="fcolor">6E-2173</p>
                    </div>
                </div>
                <div class="col-8 d-flex">
                    <div class="hp">
                        <h2>BOM</h2>
                        <p class="fcolor">10 : 15</p>
                    </div>
                    <div class="flightsroute">
                        <img src="assets/img/froute.png">
                        <p class="fcolor">03h 15m | Non Stop</p>
                    </div>
                    <div class="hp">
                        <h2>MLE </h2>
                        <p class="fcolor">13 : 00</p>
                    </div>
                </div>
                <div class="col rdate fcolor">
                    06-12-20, Sun
                </div>
            </div>
        </div>
    </div>
</div>