<div id = "datepp">
    <label id = "toplabel">Passport Expiry Date*</label><br>
    <mat-form-field class = "pp1"appearance="outline">
        <mat-label id = "label">DD</mat-label>
        <mat-select>
          <mat-option *ngFor="let dd of date" [value]="dd.value">
            {{dd.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class = "pp2" appearance="outline">
        <mat-label id = "label">MM</mat-label>
        <mat-select>
          <mat-option *ngFor="let mm of month" [value]="mm.value">
            {{mm.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class = "pp3" appearance="outline">
        <mat-label id = "label">YYYY</mat-label>
        <mat-select>
          <mat-option *ngFor="let yyyy of year" [value]="yyyy.value">
            {{yyyy.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
