<div class="container">
  <h1>Add New Traveller</h1>
  <p>Don't forget - All details provided must be as officia' government ID</p>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-datedd></app-datedd>
    </div>

    <div class="col" id = "genderid">
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option *ngFor="let gen of gender" [value]="gen.value">
            {{gen.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <mat-select>
          <mat-option *ngFor="let nation of nationality" [value]="nation.value">
            {{nation.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Passport No</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-datepp></app-datepp>
    </div>

    <div class="col" id = "passportid">
      <mat-form-field appearance="outline">
        <mat-label>Passport Issuance Country</mat-label>
        <mat-select>
          <mat-option *ngFor="let pass of passport" [value]="pass.value">
            {{pass.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <div id="btn">
    <button class="button1" mat-stroked-button>SAVE</button>
    <button class="button2" mat-stroked-button>RESET</button>
  </div>
</div>

<router-outlet></router-outlet>