.container{
    width: 40%;
    border: 2px solid black;
    padding: 3% 3%;
    margin-top: 1%;
}
.container p{
    color: grey;
    margin-bottom: 7%;
}

#genderid{
    margin-top: 20px;
}

#passportid {
    margin-top: 20px;
}

.container #btn{
    text-align: center;
}
#btn button{
    margin: 10px;
    width: 30%;
    font-weight: bolder;
    border: 2px solid black;
}
#btn .button1{
    background-color: rgb(79, 243, 243);
    color: white;
}
#btn .button2:hover{
    background-color: rgb(79, 243, 243);
    color: white;
}
