.container{
    width: 40%;
    border: 2px solid black;
    padding: 3% 3%;
    margin-top: 1%;
}
.container p{
    color: grey;
    margin-bottom: 7%;
}

#genderid{
    margin-top: 20px;
}

#passportid {
    margin-top: 20px;
}

.container #btn{
    text-align: center;
}
#btn button{
    outline: none;
    margin: 10px;
    width: 30%;
    font-weight: bolder;
}
#btn .button1{
    background-color:#35c48c;
    color: white;
}
#btn .button2:hover{
    background-color: #35c48c;
    color: white;
}


#datesel .ff1 {
    width: 28%;
}
#datesel .ff2 {
    width: 30%;
}
#datesel .ff3 {
    width: 36%;
}

#topdoblabel {
    margin-bottom: 0%;
    color: rgb(143, 140, 140);
    font-size: small;
}


#datepp .pp1 {
    width: 28%;
}
#datepp .pp2 {
    width: 30%;
}
#datepp .pp3 {
    width: 36%;
}
#toplabel {
    margin-bottom: 0%;
    color: rgb(143, 140, 140);
    font-size: small;
}