<div class="container">
  <h1>Add New Traveller</h1>
  <p>Don't forget - All details provided must be as officia' government ID</p>

  <div class="row">
    <div class="col">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" required>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="datesel">
        <label id="topdoblabel">Date of Birth*</label><br>
        <mat-form-field [formGroup]="myReactiveForm" class="ff1" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">DD</mat-label>
          <mat-select formControlName="dob date">
            <mat-option *ngFor="let dd of date" [value]="dd.value">
              {{dd.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [formGroup]="myReactiveForm" class="ff2" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">MM</mat-label>
          <mat-select formControlName="dob month">
            <mat-option *ngFor="let mm of month" [value]="mm.value">
              {{mm.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [formGroup]="myReactiveForm" class="ff3" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">YYYY</mat-label>
          <mat-select formControlName="dob year">
            <mat-option *ngFor="let yyyy of year" [value]="yyyy.value">
              {{yyyy.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col" id="genderid">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gen of gender" [value]="gen.value">
            {{gen.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let nation of nationality" [value]="nation.value">
            {{nation.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>Passport No</mat-label>
        <input matInput formControlName="passportno" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="datepp">
        <label id="toplabel">Passport Expiry Date*</label><br>
        <mat-form-field [formGroup]="myReactiveForm" class="pp1" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">DD</mat-label>
          <mat-select formControlName="pexpirydate date">
            <mat-option *ngFor="let dd of Pdate" [value]="dd.value">
              {{dd.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [formGroup]="myReactiveForm" class="pp2" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">MM</mat-label>
          <mat-select formControlName="pexpirydate month">
            <mat-option *ngFor="let mm of Pmonth" [value]="mm.value">
              {{mm.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [formGroup]="myReactiveForm" class="pp3" appearance="outline" (ngSubmit)="onSubmit()">
          <mat-label id="label">YYYY</mat-label>
          <mat-select formControlName="pexpirydate year">
            <mat-option *ngFor="let yyyy of Pyear" [value]="yyyy.value">
              {{yyyy.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col" id="passportid">
      <mat-form-field [formGroup]="myReactiveForm" class="mff-width" appearance="outline" (ngSubmit)="onSubmit()">
        <mat-label>Passport Issuance Country</mat-label>
        <mat-select formControlName="pissuancecountry">
          <mat-option *ngFor="let pass of passport" [value]="pass.value">
            {{pass.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div id="btn">
    <button class="button1" mat-stroked-button (click)="onSubmit()">SAVE</button>
    <button class="button2" mat-stroked-button>RESET</button>
  </div>

</div>